# The following combination of patterns ignores all files
# without an extension (i.e. no '.' in the file name)
*
!/**/
!*.*

# Ignore specific files
Cargo.lock
*.swp
target/*


# Added by cargo
#
# already existing elements were commented out

/target
#Cargo.lock
